/*
	Base Styles
*/

body
html
	font-size 16px
	color $text-color

a // Links
.markup-format a
	color $primary

	&:hover
		color darken($primary, 20%)

textarea, input
	border-color #BBB

/*
	Header
*/

.top-header
	.custom-logo
	img
		max-width 250px
		height auto

#header
	.bottom-header
		span.span-dot
			color $secondary

.header-navigation
	li
		span
			text-shadow 2px 2px 10px #000

	ul.sub-menu
		span
			text-shadow none


/*
	Header Menu
*/

#header
	.top-header
		.header-navigation
			ul li
				a:hover
					color $primary

				&.menu-item-has-children
					.sub-menu
						li a:hover
							color $secondary

/*
	Footer
*/

#footer

	.footer-logo
		text-align center !important

		img
			max-width 250px
			width 100%


	.copyright
		display none

	.widget ul
		li
			&::before
				color $secondary

			a:hover
				color $secondary


