/*
	Blog Post Meta
*/

#blog
	.blog-post

		.blog-post-title
			font-size 2rem

			&:hover
				color $secondary

		.blog-post-entry
			font-size 1.15rem
			color $text-color

			p
				color $text-color

		.blog-post-button
			background-color $primary

.blog-post-meta

	.post-meta-author
		display none

	.fa //icons
		color $primary !important


/*
	Comments
*/

#comments

	#comments-list
		ul.comments
			.comment

				.url
					color $secondary

				.comment-reply-link
					color $secondary

	#respond
		.comment-form

			#input-submit
				background-color $primary
				border-color $primary

/*
	Markup Styling
*/

.markup-format

	ul
		li
			list-style-position outside
