/*
	Blog Post Meta
*/

.blog-post-meta

	.post-meta-author
		display none

	.fa //icons
		color $primary !important


/*
	Comments
*/

#comments

	#comments-list
		ul.comments
			.comment

				.url
					color $secondary

				.comment-reply-link
					color $secondary

	#respond
		.comment-form

			#input-submit
				background-color $primary
				border-color $primary