/*
	Includes page-specific styling for the 'About' page.
*/


#fiveStepList
	flexContainer()
	width 100%
	margin 0

	li
		display inline-block
		width 20%
		font-size 0.9rem
		list-style-image none

		strong
			font-size 1rem
			text-transform uppercase


h6.sub-line
	margin-bottom -3.25rem
	font-style italic !important