/*
    Includes styling for the front-page
*/


// Front-page content box
.content-box.content-box-1

	.content-box-image
		max-width 220px
		width 100%
		height auto
		margin-bottom 3rem

	h2
		display none

	> p
		max-width 650px
		margin 0 auto 1.5rem