/*
	Includes styles for the header and navigation bar
*/

.header
	padding-top 3rem
	padding-bottom 3rem

#logo-image
	max-width 200px


// Sticky Header
body #header.sticky-header

	#logo-image
		max-width 100px