/*
	Includes styles for the header and navigation bar
*/

.header
	padding-top 3rem
	padding-bottom 3rem

.menu-container
	.menu-header
		background $navDarkBlue !important

#logo-image
	max-width 200px

 #header
	ul.nav-menu
		li.nav-hover
			ul
				background $navDarkBlue

// Sticky Header
body #header.sticky-header

	#logo-image
		max-width 100px