/*
	Includes styling for all posts
*/


.entry-content.article
	margin-top 0

	h1 //Custom h1 to match the entry-title
		margin 3rem 0 2rem
		color #51545C !important
		font-size 28px !important
		line-height 1