/*
	Includes page-specific styling for the 'Services' page.
*/
#servicesList {
  margin: 0;
}
#servicesList > li {
  display: inline-block;
  width: 32%;
  float: left;
  border: 2px solid;
  padding: 2rem 1rem;
  text-align: center;
  text-transform: uppercase;
  margin-right: 1.5%;
}
#servicesList > li:last-child {
  margin-right: 0;
}
#servicesList ul {
  text-align: left;
  margin-top: 1rem;
  text-transform: none;
  margin-left: 0;
}
#servicesList ul li {
  list-style-image: none;
}
