/*
	Contains all variables to be used across all stylus files
	Also includes mixins and animations
*/


$navDarkBlue = #273039

flexContainer()
    display -webkit-flex
    display -ms-flexbox
    display flex
    -webkit-flex-wrap wrap
    -ms-flex-wrap wrap
    flex-wrap wrap
